/*body {
	background: url(images/ATL.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}*/

.conteudo {
    position: relative;
    width: 80%;
    padding-left: 130px;
}

.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #ddd;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #D14444;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #D14444;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #ddd;
    top: 12px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #ddd;
}

.progressbar li.active:before {
    border-color: #D14444;
}

.progressbar li.active + li:after {
    background-color: #D14444;
    height: 8px;
}

.texto {
    color: #D14444;
}

#max {
    font-size: 20px;
}

.conteudo a {
    color: #D14444;
    text-decoration: none;
}

.conteudo h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #D14444;
    margin: 0;
}

.conteudo h3 {
    text-align: center;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #D14444;
}

#registo {
    float: left;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #D14444;
    text-align: center;
    font-size: 25px;
    width: 500px;
}

#contactos {
    float: left;
	position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #D14444;
    text-align: center;
    font-size: 25px;
    width: 350px;
}

#documentos {
    float: left;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #D14444;
    text-align: center;
    font-size: 25px;
    width: 480px;
}

#buttons {
    text-align: center;
}

#anterior {
  background-color: #D14444;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 16px 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  opacity: 0.6;
}

#anterior {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#anterior:after {
  content: '«';
  position: absolute;
  opacity: 0;
  top: 14px;
  left: -60px;
  transition: 0.5s;
}

#anterior:hover{
  opacity: 1;
}

#anterior:hover:after {
  opacity: 1;
  left: 10px;
}

#registar {
  background-color: #D14444;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 16px 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px 2px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  opacity: 0.6;
}

#registar {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#registar:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

#registar:hover{
  opacity: 1;
}

#registar:hover:after {
  opacity: 1;
  right: 10px;
}
