.chart {
	font-family: Raleway, sans-serif;
	margin-top: -20px;
}

.performance-filters {
	margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.performance-item {
	flex-grow: 1;
}