#mainNav .navbar-collapse .navbar-sidenav > .nav-item:hover{
  background-color: #d14444;
}

#mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  padding: 1em;
  margin-left: -4px;
  margin-top: 4px;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #D14444 !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

#mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

.active{
  background-color: white;
  text-decoration-color: #d14444;
}

.navbar {
  background-color: #d14444;
}

.icon{
  margin-right: 14px;
  font-size: 23px;
}

.arrow {
  color: white;
}

.content-wrapper{
  margin-top: 56px;
}

li {
    padding: 3px 0;
    display: inline-block;
    color: white;
}
/* .nav-item .nav-link{
  height: 50px;
} */

#hide{
  display: none;
}

/* #mainNav{
  border-bottom: 1px solid #CD4526;
} */


@media (min-width: 992px) {

  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 249px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }

  #mainNav .navbar-collapse .navbar-sidenav.mini > .nav-item{
    width: 54px;
    overflow: hidden;
  }

  .content-wrapper{
    margin-left: 250px;
  }

  body.sidebar-minimized .content-wrapper{
    margin-left: 55px;

  }

  .navbar-sidenav.mini{
    width: 55px!important;

  }
  .navbar-brand {
    width: 250px;
  }
  .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  .navbar-collapse .navbar-sidenav{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
    background-color: #d14444;


  }
  .navbar-sidenav {
    height: calc(100vh - 56px);
    /* tirar a altura da navBar */
  }

  #hide{
    display: block;
    position: absolute;
    bottom: 0;
    height: 60px;
    cursor: pointer;
  }

  .arrow{
    position: relative;
    top: calc(50% - 10px);
  }

}
